<div class="container" >

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit" style="background-image: url(../images/Reminder_Icon_900.png)">
    <h1>Just a Reminder!</h1>
    <p>Your very own on-line reminder system!</p>
    <p><%= link_to "Register", new_user_path, :class => "btn btn-primary" %></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>One Month Free!</h2>
      <p>Try our system, free for one month. You'll see that for the cost of a starbuck's coffee, we will be able to provide you a system
      	 will keep track of your busy life! </p>
    </div>
    <div class="span4">
      <h2>What is it?</h2>
      <p>Just a reminder is on-line system that you use to keep track of events. Create your events, create your contacts. Assign those contacts 
      	 to an event and Just a Reminder will e-mail you and your contacts an iterinary for the day that you can follow. A very simple yet extremely powerful tool for you!</p>
    </div>
    <div class="span4">
      <h2>Why Just a Reminder?</h2>
      <p>Calendars are not enough, logging into a website every day can be daunting and inconvenient. Just a reminder removes that by always keeping you in the loop and making better use of you time,</p>
    </div>
  </div>
</div>