<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Welcome to Just a Reminder!</h1>
    <p>Your very own on-line personal assistant!</p>
    <p>Learn more &raquo;</p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>Register</h2>
      <p>Try our site and system, free for one month. You'll see that it's worth every penny! </p>
      <p>Register Now &raquo;</p>
    </div>
    <div class="span4">
      <h2>What is it?</h2>
      <p>Just a reminder is your very own on-line assistant, it keeps you in the loop by reminding you each of all your events and appointments.</p>
    </div>
    <div class="span4">
      <h2>Why Just a Reminder?</h2>
      <p>Calendars are not enough, logging into a website every day can be daunting and inconvenient. Just a reminder removes that by always keeping you in the loop and making making better use of you time,</p>
    </div>
  </div>
</div>